<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
<body>

  <header>
    <%- include('../partials/navbar.ejs') %>
  </header>

    <main class="login container p-4 mt-4 mb-4">
        <h1>Crear una Nueva Contraseña</h1>
        <form action="/users/forgotPassword/<%= token %>" method="POST">
            <div class="mb-3 col-md-12">
                <label for="passwordNew" class="form-label">Contraseña Nueva</label>
                <input type="password" class="form-control" id="passwordNew" name="passwordNew">
                <% if(locals.errors && errors.passwordNew) { %> 
                  <span class="text-danger" >* <%= errors.passwordNew.msg %> </span>
                <% } %>
            </div>
            <div class="mb-3 col-md-12">
                <label for="passwordNewConfirm" class="form-label">Confirmar Contraseña Nueva</label>
                <input type="password" class="form-control" id="passwordNewConfirm" name="passwordNewConfirm">
                <% if(locals.errors && errors.passwordNewConfirm) { %> 
                  <span class="text-danger" >* <%= errors.passwordNewConfirm.msg %> </span>
                <% } %>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btnLogin me-2"><i class="bi bi-box-arrow-in-right"></i> Confirmar</button>
                <a type="button" href="/users/login" class="btn btnLogin pe-4 ps-4"><i class="bi bi-x-circle"></i> Cancelar</a>
            </div>
          </form>
    </main>

    <footer class="pt-2">
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>