<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  
  <body class="hidden">

    <div class="centrado">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

  <header>
    <%- include('../partials/navbar.ejs') %>
  </header>

  <%- include('../partials/search.ejs') %>

    <main class="login container p-4 mt-4 mb-4">
        <h1>Recuperá tu contraseña</h1>
        <form action="/users/forgotPassword" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="<%= locals.oldData ? oldData.email : '' %>">
              <% if(locals.errors && errors.email) { %> 
                <span class="text-danger" >* <%= errors.email.msg %> </span>
              <% } %>
            </div>
            <button type="submit" class="btnLogin btnSubmit"><i class="bi bi-box-arrow-in-right"></i> Enviar</button>
          </form>
    </main>

    <footer class="pt-2">
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  
    <%- include('../partials/scripts.ejs') %>
    <script src="/js/forgotPassword.js"></script>

</body>
</html>