<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body class="hidden">

    <div class="centrado">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    
  <header>
    <%- include('../partials/navbar.ejs') %>
  </header>

    <main class="mt-4 mb-4">
        <div>
            <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-md-around align-items-center divEncabezado">
                <div class="d-flex flex-column align-items-center flex-md-row">
                    <img src="<%= user.fotoPerfil %>" alt="Foto Perfil" >
                    <div class="d-flex flex-column text-center p-2">
                        <span class="fw-bold"><%= user.nombre %> <%= user.apellido %></span>
                        <span><%= user.email %> <i class="bi bi-check-circle"></i></span>
                    </div>
                </div>
                <form action="/users/edit/<%= user.id %>" method="GET">
                    <button type="submit" class="btnLogin p-2"><i class="bi bi-pencil-fill"></i> Editar</button>
                </form>
            </div>
        </div>
        <div class="pt-3 pb-3">
            <div class="d-flex align-items-center iconosProfile pt-2">
                <i class="bi bi-person-vcard ps-3 pe-2"></i>
                <div class="d-flex flex-column">
                    <span class="spanProfile">DNI</span>
                    <span><%= user.documento %></span>
                </div>
            </div>
            <div class="d-flex align-items-center iconosProfile pt-2">
                <i class="bi bi-calendar-event-fill ps-3 pe-2"></i>
                <div class="d-flex flex-column">
                    <span class="spanProfile">Nacimiento</span>
                    <span><%= user.nacimiento %></span>
                </div>
            </div>
            <div class="d-flex align-items-center iconosProfile pt-2">
                <i class="bi bi-pin-angle-fill ps-3 pe-2"></i>
                <div class="d-flex flex-column">
                    <span class="spanProfile">Dirección</span>
                    <span><%= user.domicilio %></span>
                </div>
            </div>
            <div class="d-flex align-items-center iconosProfile pt-2">
                <i class="bi bi-buildings-fill ps-3 pe-2"></i>
                <div class="d-flex flex-column">
                    <span class="spanProfile">Localidad</span>
                    <span><%= user.ciudad %> - <%= user.provincia %></span>
                </div>
            </div>
        </div>
        <div class="divCompras pb-3">
            <h2>Tus compras</h2>
            <div class="d-flex flex-wrap justify-content-center">
                <% if(shoppings.length > 0){ %> 
                    <% shoppings.forEach(shopping => { %> 
                        <div class="card" data-aos="fade-right">
                            <div class="card-header"><%= shopping.itemNombre %></div>
                            <div class="card-body">
                                <h5 class="card-title">Detalle de tu compra.</h5>
                                <p class="card-text"><%= shopping.itemServicio %></p>
                                <p class="card-text">Cantidad: <%= shopping.itemCantidad %></p>
                                <p class="card-text">Monto Abonado: $ <%= shopping.itemPrecio %></p>
                            </div>
                        </div>
                    <% }) %>
                <% }else{ %> 
                    <div class="alert alert-warning w-75 text-center" role="alert">
                        No hay productos en el carrito de compras.
                    </div>
                <% } %>
            </div>
        </div>

        <div class="d-flex justify-content-center m-4">
            <form action="/users/editPassword/<%= user.id %>" method="GET">
                <button type="submit" class="btnLogin p-2 me-2"><i class="bi bi-pencil-fill"></i> Editar Contraseña</button>
            </form>
            <form action="/users/profile/logout" method="GET">
                <button type="submit" class="btnLogin btnCancelLogout p-2 me-2"><i class="bi bi-box-arrow-left"></i> Cerrar Sesión</button>
            </form>
            <form action="/users/profile/delete/<%= user.id %>?_method=DELETE" method="POST">
                <button type="submit" class="btnLogin p-2 me-2"><i class="bi bi-archive"></i> Eliminar</button>
            </form>
        </div>

    </main>

    <footer class="pt-2">
        <%- include('../partials/footer.ejs') %>
    </footer>
  
  
    <%- include('../partials/scripts.ejs') %>
    <script src="/js/cart.js"></script>
    <script src="/js/logOut.js"></script>


</body>
</html>