<!doctype html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>

  <body class="hidden">

    <div class="centrado">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
      
    <header>
      <%- include('../partials/navBar.ejs') %>
    </header>

    <%- include('../partials/search.ejs') %>

    <main>

      <div>
        <h2>Usuarios Registrados</h2>
        <table class="table table-bordered text-center">
            <thead>
              <tr>
                <th scope="col">ID Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Provincia</th>
                <th scope="col">Acción a realizar</th>
              </tr>
            </thead>
            <% users.forEach(user => { %> 
                <tbody class="table-group-divider">
                    <tr>
                      <th scope="row"><%= user.id %></th>
                      <td><%= user.nombre %></td>
                      <td><%= user.apellido %></td>
                      <td><%= user.provincia %></td>
                      <td>
                        <ul class="list-unstyled d-flex justify-content-around">
                          <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#<%= user.idModal %>">
                              <i class="bi bi-eye"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="<%= user.idModal %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><%= user.nombre %> <%= user.apellido %></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body d-flex flex-wrap">
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Nombre:</b> <%= user.nombre %></p>
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Apellido:</b> <%= user.apellido %></p>
                                    <p class="col-md-12 col-sm-12"> <b class="text-decoration-underline">Fecha de Nacimiento:</b> <%= user.nacimiento %></p>
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Documento:</b> <%= user.documento %></p>
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Domicilio:</b> <%= user.domicilio %></p>
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Ciudad:</b> <%= user.ciudad %></p>
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Provincia:</b> <%= user.provincia %></p>
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Email:</b> <%= user.email %></p>
                                    <p class="col-md-6 col-sm-12"> <b class="text-decoration-underline">Tipo Usuario:</b> <%= user.nombreTipoUsuario %></p>
                                    <p class="col-md-12 col-sm-12"> <b class="text-decoration-underline">Foto Peril:</b> <img src="<%= user.fotoPerfil %>" class="imgPerfil" alt="Foto de Peril"></p>
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <li class="text-success"><a href="/admin/userEdit/<%= user.id %>" class="nav-link"><i class="bi bi-pencil"></i></a></li>

                          <form action="/admin/userDelete/<%= user.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="text-danger btn"><a class="nav-link"><i class="bi bi-trash3"></i></a></button>
                          </form>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
            <% }) %>
          </table>

    </main>

    <footer class="pt-2">
      <%- include('../partials/footer.ejs') %>
    </footer>


    <%- include('../partials/scripts.ejs') %>
  </body>
</html>