<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body class="hidden">

    <div class="centrado">
      <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    
  <header>
    <%- include('../partials/navbar.ejs') %>
  </header>

  <%- include('../partials/search.ejs') %>

    <main>
        <div class="error404">
            <img src="../../images/error-404.png" alt="">
        </div>
    </main>

    <footer class="pt-2">
      <%- include('../partials/footer.ejs') %>
    </footer>
  
  
    <%- include('../partials/scripts.ejs') %>

</body>
</html>